CREATE TABLE user_context (id serial PRIMARY KEY, user_id varchar NOT NULL REFERENCES users(id), context_key varchar NOT NULL, context_value text NOT NULL, created_at timestamp DEFAULT now(), updated_at timestamp DEFAULT now()); CREATE UNIQUE INDEX user_context_user_key ON user_context(user_id, context_key);
